/* You can add global styles to this file, and also import other style files */
$ct-overlay-opacity: rgba(0, 0, 0, .7);
$ct-primary-color: green;
$ct-secondary-color: red;
$ct-container-min-width: 500px;
@import '../../ngx-custom-tour/styles/styles.scss';